*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

HTML,
BODY {
  height: 100%;
}

BODY {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

IMG,
PICTURE,
VIDEO,
CANVAS,
SVG {
  display: block;
  max-width: 100%;
}

INPUT,
BUTTON,
TEXTAREA,
SELECT {
  font: inherit;
}

P,
H1,
H2,
H3,
H4,
H5,
H6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
